<!DOCTYPE html>
<html>
	<head>
		<title>Photobooth</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>

		<nav class="head-menu">
		  <a href="/" class="head-menu-item">Home</a>
		  <a href="about" class="head-menu-item">About</a>
		  <a href="contact" class="head-menu-item">Contact</a>
		  <a href="https://www.w3schools.com/TAgs/tag_button.asp" class="head-menu-item">HTML</a>
		</nav>

		<div>
			<h1>Siris photobooth</h1>
			<div class="container">
				<h2>About this website</h2>
				<p>This is a photobooth where you can take photos, save them or delete them depending on what you feel like.</p>

  				<img id="photo-booth-pic" src="/images/photobooth.png"></img>

			</div>

		</div>

		<footer>
  			<p>Created by: Siri Persson</p>
  			<p>Contact information: <a href="siri@tjejerkodar.com">
  			siri@tjejerkodar.com</a>.</p>
		</footer>

	</body>
</html>