<!DOCTYPE html>
<html>
	<head>
		<title>Photobooth</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>

		<nav class="head-menu">
		  <a href="/" class="head-menu-item">Home</a>
		  <a href="about" class="head-menu-item">About</a>
		  <a href="contact" class="head-menu-item">Contact</a>
		  <a href="https://www.w3schools.com/TAgs/tag_button.asp" class="head-menu-item">HTML</a>
		</nav>

		<div>
			<h1>Siris photobooth</h1>
			<div class="container">
				<h2>Contact</h2>
				<p>This photobooth was created as part of a programming course in Node.js and Javascript. If you have any question, please e-mail me at: siri@tjejerkodar.com</p>

  				<img id="photo-booth-pic" src="/images/contact.png"></img>

			</div>

		</div>

		<footer>
  			<p>Created by: Siri Persson</p>
  			<p>Contact information: <a href="siri@tjejerkodar.com">
  			siri@tjejerkodar.com</a>.</p>
		</footer>

	</body>
</html>