<!DOCTYPE html>
<html>
	<head>
		<title>Photobooth</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<!-- To make the webpage responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Germania+One|Gloria+Hallelujah" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<!-- Flash element -->
		<div id='flash'></div>

		<!-- Header -->
		<h1 style="font-size:10vh;" >Siri's Photobooth
		</h1>

		<!-- Photo container -->
		<div class="all-container">
			<video id="video" class="video" width="480" height="320"></video>
			<canvas id="canvas" class="canvas"width="480" height="320"></canvas> 
			<img id="image" src=""></img>
	  	</div> 
		
		<!-- Button container -->
	  	<div class="button-container">
			<i id="take-photo" class="material-icons buttons">camera_alt</i>
			<i id="delete-photo" class="material-icons buttons">delete</i>
			<a id="save-photo" href="#savephoto" download="photo.png"><i id="save-photo" class="material-icons buttons">save</i></a>
		</div>
		
		<!--Import javascript -->
		<script src='/javascript/index.js'></script>
	</body>
</html>
