<!DOCTYPE html>
<html>
	<head>
		<title>Photobooth</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>

		<h1>Siris photobooth</h1>

		<nav class="head-menu">
		  <a href="/" class="head-menu-item">Home</a>
		  <a href="about" class="head-menu-item">About</a>
		  <a href="contact" class="head-menu-item">Contact</a>
		  <a href="https://www.w3schools.com/TAgs/tag_button.asp" class="head-menu-item">HTML</a>
		</nav>

		<div>
			<div class="container">

				<video id="camera-stream" class="video" width="320" height="240">
  				</video>

  				<img id="snap" src=""></img>

  				<canvas id="canvas" class="canvas" width="320" height="240"></canvas>

  				<!--<button class= "button"><a href="#takephoto" id="take-photo">Take photo </a></button> -->
  				<a href="#takephoto" id="take-photo"><img src= "/images/camera5.png" style= "width:40px;height:40px;"></a>

  				<!-- <a id="save-photo" href="#savephoto" download="photo.png"></a> -->
  				<a id="save-photo" href="#savephoto" download="photo.png"><img src= "/images/download_cloud.png" style= "width:40px;height:40px;"></a>

  				<a id="delete-photo" href="#deletephoto"><img src= "/images/delete2.png" style= "width:32px;height:32px;"></a>

				<!-- <button class= "button"><a href="#sharephoto" id="share-photo"> Share photo</a></button>
				<button class= "button"><a href="#deletephoto" id="delete-photo">Delete photo</a></button> -->
			</div>

		</div>

		<footer>
  			<p>Created by: Siri Persson</p>
  			<p>Contact information: <a href="siri@tjejerkodar.com">
  			siri@tjejerkodar.com</a>.</p>
		</footer>

		<script src='/javascript/index.js'></script>
	</body>
</html>