body{
	background-color:lightblue; */
}

h1{
	color:white;
	font-size:80px;
	text-align:center;
    font-family: 'Gloria Hallelujah', cursive;
}
#camera-stream{
    width:480px;
    height:320px;
}

#snap{
    width:480px;
    height:320px;
}

#canvas{
    width:480px;
    height:320px;
}

.all-container{
    background-color:darkblue;
    margin:10%;
    text-align:center;
}

.video-container{
    display:inline-block;
    width: 480px;
    height: 320px;
    text-align:center;
}

.snap-container{
    display:inline-block;
    width: 480px;
    height: 320px;
    text-align:center;
}

.canvas-container{
    display:inline-block;
    width: 480px;
    height: 320px;
    text-align:center;
}

.button-container{
    background-color:white;
}

#camera-stream:hover {
    background-color: #777;
}


.canvas{
	display:none; 
}

.video{
    display:inline-block;
    text-align:center;
}

.head-menu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.head-menu-item{
 	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.head-menu-item:hover {
    background-color: #777;
}


footer{
    margin:10%;
    color:white;
    text-align:center;
}

p{
    font-size: 18px;
}
