body{
	background-color:lightblue;
}

h1{
	color:white;
	font-size:70px;
	text-align:center;
}

div{
    text-align:center;

}

a{
    display: inline-block;
}

.canvas{
	text-align:center;
	display:none; 

}

#snap{
    text-align:center;
    padding: 2cm;
	/*display:none; */
}

.video{
    text-align:center;
    padding: 2cm;
	/* text-align:center; */
}

.button{
    /* color:white;
    text-align:center;
    font-size:15px;
    height:40px; 
    width:120px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin:auto; */
}

.head-menu{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.head-menu-item{
 	display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.head-menu-item:hover {
    background-color: #777;
}


/*.container{
    background-color:darkblue;
    text-align:center;
    margin:10%;
    padding:2cm;
} */

footer{
    margin:10%;
    color:white;
    text-align:center;
}

p{
    font-size: 18px;
}
