body{
    background-image: url("/images/sky_stars.png");
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#logo{
    position:absolute;
    right:10vw;
    top:2vw;  
}

h1{
    color:white;
	font-size:80px;
    text-align:center;
}

#video{
    height:100%;
    width:40%;
    margin-right:auto;
    margin-left:auto;
    vertical-align: middle;
    object-fit: fill;
    box-shadow: 1px 1px 15px #2A2A2A;
}

#image{
    margin-right:auto;
    margin-left:auto;
    height:100%;
    width:40%;
    vertical-align: middle;
    display:none;
    box-shadow: 1px 1px 15px #2A2A2A;
}

#canvas{
    display:none;
}

#flash{
    background-color:white;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    display: none;
    opacity: 0.9;
}

.all-container{
    height: 50vh;
    text-align:center;
}

.buttons {
    font-size:15vh !important;
    margin:5vh;
    color:white;
    cursor: pointer;
    transition: all .1s ease-in-out;
    user-select: none;
}

.buttons:hover {
    color:#62bcfa;
    transform: scale(1.2); 
}

.button-container {
    height:10vh !important;
    text-align: center;
    width: 100%; 
}
